section.repository-list {
    width: 35rem;
    margin: 40px;
    
    h1 {
        margin-bottom: 16px;
    }
    
    ul {
        list-style: none;
        
        li {
            border-radius: 10px;
            background-color: #f7f7f7;
            padding: 10px;
            & + li {
                margin-top: 16px;
            }

            p {
                font-size: 14px;
                color: #444;
                margin-top: 8px
            }

            a {
                display: inline-block;
                margin-top: 16px;
                text-decoration: none;
                color: #8257e6
            }
        }
    }
}